
body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: lightgray;
    margin: 0;
}

header {
    background-color: #00594f;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #008577;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
}

nav a.active {
    color: yellow;
}

main {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

h2 {
    color: #00594f;
}

p {
    font-size: 16px;
}

img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

ul {
    list-style-image: url("dot.png");
}

body.home {
    background-image: url("bluebg.jpg");
    background-repeat: repeat;
}

body.home header {
    background-image: url("redFlowerSmall.png");
    background-repeat: no-repeat;
    background-position: right;
}

footer {
    background-color: #00594f;
    color: white;
    text-align: center;
    padding: 10px;
}